<div class="card">
  test
  <p>title: {{title}}</p>
  <img src="{{imageUrl}}" alt="`picture" of {{title}} ` class="image"/>
  <p>height: {{height}}</p>
  <p>width: {{width}}</p>
  <p>material: {{material}}</p>
  <br />
</div>