<div class='field'>
  <label for='title' class='label'>Title:</label>
  <input
    class='input'
    type='text'
    name='title'
    placeholder='title'
    id='element-title'
    value="{{element.title}}"
    required='required'
  />
</div>
<div class='field'>
  <label for='width' class='label'>Width in CM:</label>
  <input
    class='input'
    type='number'
    name='width'
    placeholder='real world width'
    id='element-width'
    value="{{element.width}}"
    required='required'
  />
</div>
<div class='field'>
  <label for='height' class='label'>Height in CM:</label>
  <input
    class='input'
    type='number'
    name='height'
    placeholder='real world height'
    id='element-height'
    value="{{element.height}}"
    required='required'
  />
</div>
<div class='field'>
  <label for='position' class='label'>Position (x y z)</label>
  <input
    class='input'
    type='text'
    name='position'
    placeholder='0 0 0'
    id='element-position'
    value="{{element.position}}"
  />
</div>
<div class='field'>
  <label for='rotation' class='label'>Rotation (x y z)</label>
  <input
    class='input'
    type='text'
    name='rotation'
    placeholder='-90 0 0'
    id='element-rotation'
    value="{{element.rotation}}"
  />
</div>
<div class='field'>
  <label for='scale' class='label'>Scale (x y z)</label>
  <input
    class='input'
    type='text'
    name='scale'
    placeholder='1 1 1'
    id='element-scale'
    value="{{element.scale}}"
  />
</div>
<div class='field'>
  <label for='markerSize' class='label'>AR-Marker width in cm</label>
  <input
    class='input'
    type='text'
    name='markerSize'
    placeholder='17'
    value="{{element.markerSize}}"
    id='element-markerSize'
  />
</div>
<div class='field'>
  <label for='material' class='label'>Material:</label>
  <input
    class='input'
    placeholder='material'
    type='text'
    name='material'
    id='element-material'
    value="{{element.material}}"
  />
</div>