<section class="section">
  <div class="card">
<div class="card-image">
    <figure class="image">
        <img src="{{element.imageUrl}}" alt="">
    </figure>
</div>
<div class="card-content">

  
  <form
    action="/edit-image{{element._id}}" method="POST" enctype="multipart/form-data">
    <label for="imageUrl">New Image</label>
    <input type="file" name="imageUrl" />
    <button type="submit">update image</button>
  </form>
<form action="/edit-element{{element._id}}" method="POST" enctype="multipart/form-data">
    <label for="title">title</label>
      <input type="text" name="title" id="element-title" value='{{element.title}}' required />
    <label for="width">width</label>
      <input type="number" name="width" id="element-width" value="{{element.width}}" required />
    <label for="width">height</label>
      <input type="number" name="height" id="element-height" value="{{element.height}}" required />
    <label for="position">position</label>
      <input type="text" name="position" id="element-position" value="{{element.position}}" />
    <label for="rotation">rotation</label>
      <input type="text" name="rotation" id="element-rotation" value="{{element.rotation}}" />
    <label for="material">material</label>
      <input type="text" name="material" id="element-material" value="{{element.material}}" />
    <button type="submit">update information</button>
  </form>
</div>

</section>