<style>
    .hero{
        display:none;
    }
    #singleElement{
        margin-top:0;
    }
</style>
<div id="singleElement" class="catalog content">
    <section class="section" marker="{{element.markerId}}">
        <div class="card">
            <div class="card-image">
                <a href="/single-element{{element.id}}"></a><figure class="image">
                    <img src="{{element.imageUrl}}" alt="picture of={{element.title}}"/>
                </figure></a>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <p class="title is-4">
                            <a href="/single-element{{element.id}}">{{element.title}}</a>
                        </p>
                    </div>
                </div>
                <div class="content">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>HEIGHT:</td>
                                <td>{{element.height}}</td>
                            </tr>
                            <tr>
                                <td>WIDTH:</td>
                                <td>{{element.width}}</td>
                            </tr>
                            <tr>
                                <td>MATERIAL:</td>
                                <td>{{element.material}}</td>
                            </tr>

    {{#if isAdmin}}

                                <tr>
                                    <td>markerid:</td>
                                    <td>{{element.markerId}}</td>
                                </tr>
                                <tr>
                                    <td>markerimage:</td>
                                    <td><img src="{{element.markerLink}}"/></td>
                                    <td>
                                        <a href="{{marker.patternFileLink}}" id="pattern-link">pattern link</a>
                                    </td>
                                </tr>

                                <tr>
                                    <td>qr-code:</td>

                                    <td>
                                        <a href="" id="qrcode-link"><img src="" id="qrcode-image"/></a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    {{> elementAdmin element}}
                    
                    {{else}}
                    
                                <tr>
                                    <td>markerimage:</td>
                                    <td><img src="{{element.markerLink}}"/></td>
                                    
                                </tr>

                                <tr>
                                    <td>qr-code:</td>

                                    <td>
                                        <a href="/ar-view{{element.id}}" id="qrcode-link"><img src="" id="qrcode-image"/></a>
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                    </table>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </section>

        </div>

    <section id="backbutton" class="section">

    <a href="/catalog">
        <button class="button is-primary">
            <span class="icon is-small">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>back to catalog</span>
        </button>
    </a>

</section>

    {{#if isAdmin}}
        {{> printElement}}
    {{/if}}
    <script src="/scripts/qrcode.js"></script>
    <script>
        /*
  QRCode.toCanvas(document.getElementById('canvas'), {margin: 0}, window.location.href, function (error) {
    if (error) console.error(error)
    console.log('success!');
  });

*/

        var opts = {
            errorCorrectionLevel: 'H',
            type: 'image/jpeg',
            quality: 0,
            margin: 0,
            color: {
                dark: "#000",
                light: "#FFF"
            }
        }

const arLink = window.location.href.replace("single-element","ar-view");
console.log("arlink",arLink);

        QRCode.toDataURL(arLink, opts, function (err, url) {
            if (err) 
                throw err

            var img = document.getElementById('qrcode-image')
            var imgPrint = document.getElementById('qrcode-print')
            img.src = url
            imgPrint.src = url
        })

        var a = document.getElementById('qrcode-link');
        a.href = arLink;
    </script>